* {
    font-family: 'Itim', cursive;
}

.title-bg {
    background-image: url('images/banner-title.webp');
    background-repeat: no-repeat;
    background-position: center;
  }

/* NavBar */
.title-color {
    color: white;
}

#header {
    background-color: #ff5252;
}

#btn-contactar-nav a{
    background: #0084ff;
    color: white;
    border-radius: 6px;
}
  
#btn-contactar-nav a:hover {
    background: #6f42c1;
}
/* /NavBar */

/* HEADER TITLE & FORM */
#main {
    height: 80vh;
    background-image: url('images/BannerKids.png');
}

.title-header-container {
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.title-header-container h2 {
    color: #6f42c1;
    width: 430px;
    font-size: 46px;
}

.title-header-container h2 span{
    color: #0084ff;
    font-size: 50px;
    font-weight: 800;
}

.title-header-container h4 {
    width: 430px;
    color: #ff5252;
}

.title-header-container img {
    width: 100px;
    transform: rotate(151deg);
}

.title-banner {
    background-image: url('images/banner-title.webp');
    background-position: 44% 9%;
    background-repeat: no-repeat;
    background-size: 97% 86%;
    color: white;
    text-align: center;
    height: 95px;
    font-size: 36px;
    width: 430px;
}

.main-container {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.registro-container {
    display: flex;
    justify-content: center;
    max-width: 30%;
}

.registro {
    padding: 12px;
    width: 300px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    background: #fff;
}

.registro h4 {
    color: #ff5252;
    text-align: center;
}

.seccion-nombre {
    display: flex;
    justify-content: space-around;
}

.input-usuario {
    margin: 4px;
}

.selector {
    margin-left: 4px;
    margin-top: 6px;
    width: 98%;
    padding: 6px 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 4px;
}

.form-control {
    padding: .375rem 2px;
}

.registro p {
    margin-left: 7px;
    font-size: 12px;
}

.btn-registro {
    width: 100%;
    height: 36px;
    box-shadow: inset 0px -9px 1px -6px rgba(0,0,0,0.41);
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-registro:hover {
    background-color: #6f42c1;
    cursor: pointer;
}
/* /HEADER TITLE & FORM */

/* Como Funciona */
#comoFunciona {
    margin-top: 50px;
}

.comoFunciona-title-description p {
    font-size: 28px;
    color: black;
    padding: 0 100px;
}

.texto-comoFunciona p {
    color: white;
    font-size: 24px;
}

.texto-comoFunciona span {
    font-size: 32px;
    color: #fff80d;
}

.title-comoFunciona {
    color: #fff80d;
    font-size: 36px;
    margin-top: 12px;
}

#comoFunciona .contenedor{
    background-image: url('images/FondoComoFunciona.png');
}

.imagen-comoFunciona-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-comoFunciona {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-comoFunciona img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
/* /Como Funciona */

/* Beneficios */
#beneficios {
    margin-top: 50px;
}

.card-contenedor {
    width: 400px;
    height: 510px;
    /* position: relative; */
    border-radius: 16px;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.card-contenedor .imagen {
    display: flex;
    justify-content: center;
}

.card-contenedor .imagen img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-contenedor .contenido {
    color: white;
}

.card-contenedor .contenido p {
    font-size: 18px;
    color: black;
}

.centrar-card {
    display: flex;
    justify-content: center;
}

#tecnologia {
    background-image: url('images/FondoCardB.png');
}

#sinInternet {
    background-image: url('images/FondoCardG.png');
}

#ambienteSeguro {
    background-image: url('images/FondoCardO.png');
}

#epd {
    background-image: url('images/FondoCardP.png');
}
/* /Beneficios */

/* MAS USADA */
#masUsado{
    background-position: 75% 60%;
    background-image: url('images/globe.png');
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 12px;
  }
  
.masUsado-container p {
    font-size: 28px;
    color: black;
}
  
.masUsado-texto {
    display: flex;
}
  
.masUsado-texto p {
    font-size: 24px;
    margin-bottom: 0;
    color: black;
    display: flex;
    align-items: center;
}

.title-masUsado h2 {
    color: #0084ff;
} 
/* /MAS USADA */

/* Kits */
#kits {
    background-image: url('images/teachers-area-bg.jpg');
    background-position: center;
    /* background-color: #43cb7b; */
    padding: 30px;
}

.kits-description {
    font-size: 32px;
}
  
.kit-container {
    display: flex;
    border-radius: 16px;
    margin: 9px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}
  
.section-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f42c1;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color:white;
    padding: 12px;
    font-size: 18px;
}
  
.texto-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #28A745;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    color:white;
    padding: 12px;
    font-size: 18px;
}

#color-red {
    background-color: #ff5252;
}
  
.imagen-rigth {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
/* /Kits */

.form-registro {
    font-size: 22px;
}
  
.form-registro span {
    font-size: 38px;
}
  
#footer {
    background: #17a2b8;
}
  
#footer a {
    color: white;
}

/* QUICK CONTACT */
.contenedor-fondo {
    background: #6f42c1;
    display: flex;
    justify-content: space-around;
    position: relative;
}
  
.location-contenedor {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.location-contenedor p {
    padding: 0 9px 0 9px;
    font-size: 20px;
    position: relative;
    z-index: 2;
    color: white;
}
  
.location-contenedor h4 {
    position: relative;
    z-index: 2;
    color: white;
}
  
.location-contenedor img {
    width: 80px;
    margin-top: 12px;
    position: relative;
    z-index: 2;
}
  
.contenedor-fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/patron.png');
    opacity: .1;
}
/* /QUICK CONTACT */

/* Media Query */
@media(max-width: 425px) {

    #main {
        height: 94vh;
        background-position: 56%;
    }

    .title-banner {
        background-position: 44% 44%;
    }

    .registro-container {
        display: flex;
        justify-content: center;
        padding: 0;
        max-width: 100%;
    }

    .title-bg {
        background-size: contain;
    }

    .title-header-container {
        height: 216px;
    }

    .title-header-container h1 {
        margin-bottom: 0;
    }

    .title-header-container h2 {
        font-size: 32px;
    }

    .title-header-container h4 {
        display: none;
    }

    .title-header-container img {
        display: none;
    }

    .comoFunciona-title-description p {
        padding: 0;
    }

    .kit-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .kit-container .texto-left {
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
      }
  
      .kit-container .texto {
        width: 100%;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 0;
      }
  
      .kit-container .section-img img {
        width: 200px;
        height: 200px;
      }
}

@media (max-width: 375px) {
    .masUsados {
      height: 290px;
    }

    #sme {
      background-position: 9% 167%;
      background-repeat: no-repeat;
    }

    .card-contenedor {
        width: 300px;
        height: 596px;
    }

    .title-banner {
        width: 314px;
    }

    .title-header-container h2 {
        width: 314px;
    }

    .title-header-container {
        align-items: center;
    }
  }
/* /Media Query */